<!-- form will go to /save_user and take input as params["name"] -->

<h1>Make a recipe</h1>

<form action="/save_recipe">
  <input type="text" placeholder="Enter recipe title!" name="title" value="<%= params["title"] %>">
  <input type="text" placeholder="YYYY-MM-DD HH:MM" name="published_date" value="<%= params["published_date"] %>">
  <input type="text" placeholder="Paste instructions!" name="content" value="<%= params["content"] %>">
  <input type="number" placeholder="Enter meal id!" name="meal_id" value="<%= params["meal_id"] %>">
  <input type="number" placeholder="Enter user id!" name="user_id" value="<%= params["user_id"] %>">
    <input type="submit">
</form>
<p>To assign yourself to a recipe, enter your user id in the form.</p>
<p>To assign you're recipe a meal, enter the meal id in the form.</p>
<ul>
  <% Meal.all.each do |meal| %>
	<li><%= meal.id %>. <%= meal.meal %></li>
  <% end %>
</ul>



